{% extends 'BasePage.html' %}
{% load staticfiles %}

{% block search_jobs_page %}
    <div class="row page_content">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% csrf_token %}
                    <h4 style="text-align: center">Search jobs by group name</h4>
                    <input type="text" class="form-control" id="job_search_by_groups_input"
                           placeholder="Enter group(s) name(s), f.e. Renewal, WalletBalance ">
                    <h4 style="text-align: center">Search jobs by job name</h4>
                    <input type="text" class="form-control" id="job_search_by_job_name_input"
                           placeholder="Enter job name f.e. Selenium Tests (TEST) - Acceptance PlayTimeout">
                </div>
                <div class="panel-body">
                    <ul class="list-group" id="found_jobs_list_in_template"></ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 style="text-align: center">Search group</h4>
                    <input type="text" class="form-control" id="group_search_input"
                           placeholder="Instant search">
                </div>
                <div class="panel-body">
                    <ul class="list-group" id="found_groups_list_in_template">
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}