{% load staticfiles %}
{% for job_in_header, builds in jobs_with_builds.items %}
    <h4></h4>
    <table class="table table-bordered jobs_results_table" id="{{ job_in_header.job_name }}">
        <thead>
        <tr>
            <th class="counter">{{ forloop.counter }}</th>
            <th> {# TODO move 'styles' to css, add link to Build, TestCase #}
                <span style="padding-right:30px">{{ job_in_header.job_name }}</span>
                <button id="loadButton{{ job_in_header.id }}" class="job_show_res btn btn-info"
                        data-job_id="{{ job_in_header.id }}">LOAD DATA
                </button>
                <button id="showButton{{ job_in_header.id }}" class="hide_res btn btn-warning"
                        data-job_id="{{ job_in_header.id }}" style="display: none">HIDE/SHOW
                </button>
                <img id="loader{{ job_in_header.id }}" src="{% static 'ajax-loader.gif' %}" height="20px"
                     style="display: none; padding-left:10px"/>
            </th>
            {% for build in builds %}
                <th class="build">
                    <p data-toggle="tooltip" data-placement="top" title="{{ build.build_date }}">
                        {% if build.build_successful %}
                            <a class="text-success"
                               href="{{ build.build_link }}" target=_blank>{{ build.build_number }}</a>
                        {% else %}
                            <a class="text-danger"
                               href="{{ build.build_link }}" target=_blank>{{ build.build_number }}</a>
                        {% endif %}
                    </p>
                    <span class="label label-default">{{ build.build_app_ver }}</span>
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody id="{{ job_in_header.id }}">
        </tbody>
    </table>
{% endfor %}