{% for test_dict in tests_with_results|dictsort:"test_name" %}
    <tr>
        <td class="counter">{{ forloop.counter }}</td>
        <td>
            <p>{{ test_dict.test_name }}</p>
            {% for case in test_dict.test_cases %}
                <a href="{{ case.test_case_link }}" target="_blank">{{ case.test_case_name }}</a> |
            {% endfor %}
        </td>
        {% for result in test_dict.test_results %}
            {% if result.test_passed == 'passed' %}
                <td>
                    <span class="glyphicon glyphicon-ok-sign text-success build" aria-hidden="true"></span>
                </td>
            {% endif %}
            {% if result.test_passed == 'failed' %}
                <td>
                    <a class="failed" href="#myModal" data-toggle="modal" data-stack="{{ result.test_stack_trace }}">
                        <span class="glyphicon glyphicon-remove-sign text-danger build" aria-hidden="true"></span>
                    </a>
                </td>
            {% endif %}
            {% if result.test_passed == 'skipped' %}
                <td>
                    <span class="glyphicon glyphicon-question-sign text-warning build" aria-hidden="true"></span>
                </td>
            {% endif %}
            {% if result.test_passed == 'absent' %}
                <td>
                    <span class="glyphicon glyphicon-option-horizontal text-muted build" aria-hidden="true"></span>
                </td>
            {% endif %}
        {% endfor %}
    </tr>
{% endfor %}
