{% extends 'BasePage.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block edit_todo_page %}
    <div class="row page_content">
        <div class="col-lg-8 col-lg-offset-2">
            {% if  to_do_note.done %}
                <div class="panel panel-success">
            {% elif  to_do_note.discarded %}
                <div class="panel panel-danger">
            {% else %}
                <div class="panel panel-info">
            {% endif %}
                    <div class="panel-heading">
                        <h3 class="panel-title">Edit ToDo Note</h3>
                    </div>
                    <div class="panel-body">
                            <form action="{% url 'edit_todo_save'  to_do_note.pk %}" method="post">
                                {% csrf_token %}
                                {% bootstrap_form form layout='inline' %}
                                <input type="submit" class="btn btn-success" value="Update ToDoNote">
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}

{#https://claudiomelendrez.wordpress.com/2013/04/03/ajax-django-part-1/#}