{% extends 'BasePage.html' %}
{% load staticfiles %}


{% block data_collection_page %}
    <div class="row page_content">
        {% csrf_token %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align: center">START ACTIONS</h3>
            </div>
            <div class="panel-body">
                <div class="col-lg-4">
                    <a class="btn btn-default btn-group-justified" id="parse_java_code">Parse java code<span
                            class="badge updateTimeStamp"></span></a>
                </div>
                <div class="col-lg-4">
                    <a class="btn btn-default btn-group-justified" id="save_instances_to_db">Save instances to DB<span
                            class="badge updateTimeStamp"></span></a>

                    <div class="progressDiv" id="save_instances_to_db_progress"></div>
                </div>
                <div class="col-lg-4">
                    <a class="btn btn-default btn-group-justified" id="get_builds_info_from_jenkins">...........</a>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align: center">ACCEPTANCE</h3>
            </div>
            <div class="panel-body">
                <div class="col-lg-4">
                    <a class="btn btn-default btn-group-justified get_jobs" data-jenkins_page="Acceptance"
                       id="get_jobs_acceptance">Get jobs from Jenkins<span class="badge updateTimeStamp"></span></a>

                    <div class="progressDiv" id="get_jobs_acceptance_progress"></div>
                </div>
                <div class="col-lg-4">
                    <a class="btn btn-default btn-group-justified get_jobs_configs" data-jenkins_page="Acceptance"
                       id="get_jobs_configs_acceptance">Get jobs configs from Jenkins<span class="badge updateTimeStamp"></span></a>

                    <div class="progressDiv" id="get_jobs_configs_acceptance_progress"></div>
                </div>
                <div class="col-lg-4">
                    <a class="btn btn-default btn-group-justified get_builds_and_save_results"
                       data-jenkins_page="Acceptance" id="get_builds_and_save_results_acceptance">Get builds from
                        Jenkins<span class="badge updateTimeStamp"></span></a>
                    <div class="progressDiv" id="get_builds_and_save_results_acceptance_progress"></div>
                </div>
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align: center">NEW TRUNK</h3>
            </div>
            <div class="panel-body">
                <div class="col-lg-4">
                    <a class="btn btn-default btn-group-justified get_jobs" data-jenkins_page="New trunk"
                       id="get_jobs_new_trunk">Get jobs from Jenkins<span class="badge updateTimeStamp"></span></a>

                    <div class="progressDiv" id="get_jobs_new_trunk_progress"></div>
                </div>
                <div class="col-lg-4">
                    <a class="btn btn-default btn-group-justified get_jobs_configs" data-jenkins_page="New trunk"
                       id="get_jobs_configs_new_trunk">Get jobs configs from Jenkins<span class="badge updateTimeStamp"></span></a>

                    <div class="progressDiv" id="get_jobs_configs_new_trunk_progress"></div>
                </div>
                <div class="col-lg-4">
                    <a class="btn btn-default btn-group-justified get_builds_and_save_results"
                       data-jenkins_page="New trunk" id="get_builds_and_save_results_new_trunk">
                        Get builds from Jenkins<span class="badge updateTimeStamp"></span>
                    </a>

                    <div class="progressDiv" id="get_builds_and_save_results_new_trunk_progress"></div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align: center">ALL OTHER</h3>
            </div>
            <div class="panel-body">
                <div class="col-lg-4">
                    <a class="btn btn-default btn-group-justified get_jobs" data-jenkins_page="All other"
                       id="get_jobs_all_other">Get jobs from Jenkins<span class="badge updateTimeStamp"></span></a>

                    <div class="progressDiv" id="get_jobs_all_other_progress"></div>
                </div>
                <div class="col-lg-4">
                    <a class="btn btn-default btn-group-justified get_jobs_configs" data-jenkins_page="All other"
                       id="get_jobs_configs_all_other">Get jobs configs from Jenkins<span class="badge updateTimeStamp"></span></a>

                    <div class="progressDiv" id="get_jobs_configs_all_other_progress"></div>
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-danger delete" style="margin-left: 50px" data-delete="all tests">DELETE ALL TESTS
            </button>
            <button class="btn btn-danger delete" style="margin-left: 50px" data-delete="all groups">DELETE ALL GROUPS
            </button>
            <button class="btn btn-danger delete" style="margin-left: 50px" data-delete="all jobs">DELETE ALL JOBS
            </button>
            <button class="btn btn-danger delete" style="margin-left: 50px" data-delete="all builds and results">DELETE
                ALL BUILDS RESULTS
            </button>
            <button class="btn btn-success" style="margin-left: 50px" id="super_update">SUPER UPDATE</button>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/data_collection_scripts.js' %}"></script>
{% endblock %}