{% extends 'BasePage.html' %}
{% load staticfiles %}

{% block search_jobs_page %}
    <div class="row page_content">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% csrf_token %}
                <input type="text" class="form-control" id="job_search_input"
                       placeholder="Enter group(s) name(s), f.e. Renewal, WalletBalance ">
            </div>
            <div class="panel-body">
                <ul class="list-group" id="found_jobs_list_in_template"></ul>
            </div>
        </div>
    </div>
{% endblock %}