{% for test, results in tests_with_results.items %}
    <tr>
        <td class="counter">{{ forloop.counter }}</td>
        <td>
            <a href="{{ test. }}" target=_blank>{{ test.test_class_name }}</a>
        </td>
        {% for result in results %}
            {#            <td>{{ result.build.id }}</td>#}
            {# TODO Add link to TestCase, add show stack trace #}
            {% if result.test_passed == 'passed' %}
                <td>
                    <span class="glyphicon glyphicon-ok-sign text-success build" aria-hidden="true"></span>
                </td>
            {% endif %}
            {% if result.test_passed == 'failed' %}
                <td>
                    <a class="failed" href="#myModal" data-toggle="modal" data-stack="{{ result.test_stack_trace }}">
                        <span class="glyphicon glyphicon-remove-sign text-danger build" aria-hidden="true"></span>
                    </a>
                </td>
            {% endif %}
            {% if result.test_passed == 'skipped' %}
                <td>
                    <span class="glyphicon glyphicon-question-sign text-warning build" aria-hidden="true"></span>
                </td>
            {% endif %}
        {% endfor %}
    </tr>
{% endfor %}
